body{
	background-image: url("../vintage-leaves.png");
}
.menu {
	margin-bottom: 0;
	background: #ffffff;
	border-bottom: solid 3px #cccccc;
}
.logo {
	padding: 49px 40px;
	background-color: #4aaaa5;
	line-height: 0px;
	color: #000000;
	font-weight: bold;
}
.logo:hover {
	transition-duration: .4s;
}
.menu .navbar-nav > li > a {
	line-height: 30px;
}
#myNavbar{
	padding-top: 20px;
}
h1{
	font-size: 20px;
	color: red;
	font-family: 'Georgia', Times, serif;
	font-weight: bold;
	background-color: #4aaaa5
}
h2{
	border-bottom: solid 1px #cccccc;
}
a img{
	width:50px;
	height:50px;
	margin-left: 12px;
	margin-right: 12px;
}
.homeAboutSection{
	margin-top: 15px;
}
.homeAboutDiv{
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: -15px;
	background-color: white;
	border: solid 1px #cccccc;
}
#beta{
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: white;
	border: solid 1px #cccccc;
}
.contactme{
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: -15px;
	background-color: white;
	border: solid 1px #cccccc;
}
.homeAboutDiv img{
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 10px;
}
.homeAboutDiv p{
	text-align: justify;
}
.panel-title{
	text-align: center;
}
.panel-body a{
	text-decoration: none;
}
.thumbnail img{
	width:200px;
	height:220px;
}

nav p{
	margin-top: 40px;
	text-align: center;
	color: white;
}
.navbar2{
	height: 100px;
	border-top: solid 3px #4aaaa5;
	background-color: #666666
}
/*Desktop*/
.col-8 {width: 66%}
.col-3 {width: 20%}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}



